iot_project_nodered/data/flows.json
[
    {
        "id": "c6edea553c6666e4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab8bd6a7f68ee52f",
        "type": "mqtt-broker",
        "name": "smart_city",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "139b21b617bd11c9",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Vinay"
    },
    {
        "id": "a2048b34bbda8f7b",
        "type": "mqtt in",
        "z": "c6edea553c6666e4",
        "name": "",
        "topic": "smart_city/traffic/#",
        "qos": "0",
        "datatype": "json",
        "broker": "ab8bd6a7f68ee52f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "a753add5c0138e5e",
                "4f0e7b5b3fc4a498"
            ]
        ]
    },
    {
        "id": "a753add5c0138e5e",
        "type": "debug",
        "z": "c6edea553c6666e4",
        "name": "display_sensor_data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "4f0e7b5b3fc4a498",
        "type": "function",
        "z": "c6edea553c6666e4",
        "name": "function 1",
        "func": "const thresholds = {\n    traffic_density: 99,\n    average_speed: 59,\n    co2: 499,\n    pm25: 49,\n    pm10: 69,\n    decibel_level: 89,\n    co: 4.9\n};\n\nconst metric = msg.topic.split(\"/\").pop(); // Extract the metric from the topic\nconst value = msg.payload[metric];\n\nif (thresholds[metric] !== undefined && value > thresholds[metric]) {\n    msg.alert = `Critical ${metric} level detected: ${value}`;\n    return msg; // Forward message for alerts\n}\n\nreturn null; // Ignore if no threshold is exceeded\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "32098966c7d5222e",
                "e0e3fc61425e9c32"
            ]
        ]
    },
    {
        "id": "32098966c7d5222e",
        "type": "mqtt out",
        "z": "c6edea553c6666e4",
        "name": "",
        "topic": "smart_city/alerts",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab8bd6a7f68ee52f",
        "x": 620,
        "y": 440,
        "wires": []
    },
    {
        "id": "e0e3fc61425e9c32",
        "type": "debug",
        "z": "c6edea553c6666e4",
        "name": "display_alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "399a354ae62f791c",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "c6edea553c6666e4",
        "name": "Notify",
        "credtype": "account",
        "account": "139b21b617bd11c9",
        "text": "alert",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 590,
        "y": 600,
        "wires": [
            []
        ]
    }
]