iot_project_nodered/data/flows.json
[
    {
        "id": "c6edea553c6666e4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab8bd6a7f68ee52f",
        "type": "mqtt-broker",
        "name": "smart_city",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ea5932f09d848fc6",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "a2048b34bbda8f7b",
        "type": "mqtt in",
        "z": "c6edea553c6666e4",
        "name": "",
        "topic": "/smart_city/traffic/#",
        "qos": "0",
        "datatype": "json",
        "broker": "ab8bd6a7f68ee52f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "a753add5c0138e5e",
                "4f0e7b5b3fc4a498",
                "55117caf3633c36a"
            ]
        ]
    },
    {
        "id": "a753add5c0138e5e",
        "type": "debug",
        "z": "c6edea553c6666e4",
        "name": "display_sensor_data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "4f0e7b5b3fc4a498",
        "type": "function",
        "z": "c6edea553c6666e4",
        "name": "function 1",
        "func": "const thresholds = {\n    traffic_density: 80,\n    average_speed: 25,\n    co2: 400,\n    pm25: 35,\n    pm10: 50,\n    decibel_level: 85,\n    co: 3.5\n};\n\nconst metric = msg.topic.split(\"/\").pop(); // Extract the metric from the topic\nconst value = msg.payload.value;\n\nif (thresholds[metric] !== undefined && value > thresholds[metric]) {\n    msg.alert = `Critical ${metric} level detected: ${value}`;\n    return msg; // Forward message for alerts\n}\n\nreturn null; // Ignore if no threshold is exceeded\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 400,
        "wires": [
            [
                "32098966c7d5222e",
                "e0e3fc61425e9c32"
            ]
        ]
    },
    {
        "id": "32098966c7d5222e",
        "type": "mqtt out",
        "z": "c6edea553c6666e4",
        "name": "",
        "topic": "/smart_city/alerts",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ab8bd6a7f68ee52f",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "e0e3fc61425e9c32",
        "type": "debug",
        "z": "c6edea553c6666e4",
        "name": "display_alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "55117caf3633c36a",
        "type": "influxdb out",
        "z": "c6edea553c6666e4",
        "influxdb": "ea5932f09d848fc6",
        "name": "influxdb",
        "measurement": "traffic_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot_project",
        "bucket": "smart_city",
        "x": 600,
        "y": 120,
        "wires": []
    }
]